@import '../../../styles/variable.scss';

.funcRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.iconBox {
  @include flex-center;

  flex-direction: column;
  padding: 10px 0;

  :global(.shst-icon) {
    color: inherit !important;
    font-size: 27px;
    margin: 5px 0;
  }

  .text {
    color: var(--color-text-1);
    font-size: 13px;
  }
}
